:root {
  --brownRed: #98777b;
  --almond: #ffebcd;
  --champBrown: #a0785a;
  --darkRed: #8b0000;
  --cosmiclatte: #fff8e7;
  --chestnut: #986960;
  --darkBrown: #654321;
  --grey: #808080;
  --manatee: #979aaa;
  --fawn: #e5aa70;
  --fallow: #c19a6b;
}

body {
  background-color: var(--grey);
}

#root {
    border: 5px solid var(--champBrown);
    padding: 0;
    box-shadow: 10px 10px 10px var(--darkBrown);
    border-radius: 15px;
}

/* homepage */
main {
  background-color: var(--cosmiclatte);
}

#main-container {
  color: var(--darkRed);
}

#thoughts-container {
  color: var(--darkBrown);
  font-weight: bold;
  font-size: 28px;
}

#thoughts {
  color: var(--darkBrown);
  font-size: 28px;
}

/* thoughtForm */
#thought-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#char-count {
  border: 5px solid var(--champBrown);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 200px;
  border-radius: 10px;
  background-color: var(--fallow);
  color: var(--darkBrown);
  box-shadow: 5px 5px 5px var(--darkBrown);
}

#thought-input {
  border: 5px solid var(--champBrown);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 200px;
  border-radius: 10px;
  background-color: var(--fallow);
  color: var(--darkBrown);
  box-shadow: 5px 5px 5px var(--darkBrown);
}

#thought-input textarea {
  border: 5px solid var(--champBrown);
  border-radius: 10px;
  background-color: var(--almond);
}

#thought-input select {
  border: 5px solid var(--champBrown);
  border-radius: 10px;
  background-color: var(--almond);
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

::placeholder {
  color: var(--darkBrown);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 4px;
  font-style: italic;
}
/* header component */
.app-bar {
  background-color: var(--champBrown);
  padding: 10px 0;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: white;
}

.left-section {
  display: flex;
  align-items: center;
}

.menu-icon {
  margin-right: 10px;
}

.siteName {
  font-size: 50px;
  font-family: Bradley Hand, cursive;
  padding: 0;
}

.right-section {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
}

.login-button {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 4px;
  margin-right: 10px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  margin-right: 10px;
}

.mobile-menu-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

/*Thought-list-container  */
.Thought-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cosmiclatte);
  padding: 10px;
  box-shadow: 10px 10px 10px var(--darkBrown);
}

.topics {
  color: var(--darkRed);
}

.topic-title {
  font-size: 50px;
}

#thought-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cosmiclatte);
  padding: 10px;
  box-shadow: 10px 10px 10px var(--darkBrown);
  margin: 10px;
  border: solid 5px var(--champBrown);
  border-radius: 10px;
}

#thought-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--fallow);
  padding: 10px;
  box-shadow: 10px 10px 10px var(--darkBrown);
  margin: 10px;
  border: solid 5px var(--champBrown);
  border-radius: 10px;
  color: var(--darkBrown);
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* topicFilter */

.topicFilterContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cosmiclatte);
  padding: 10px;
  box-shadow: 10px 10px 10px var(--darkBrown);
  margin: 10px;
  border: solid 5px var(--champBrown);
  border-radius: 10px;
}

.topicFilterContainer button {
  background-color: var(--fallow);
  border: solid 5px var(--champBrown);
  border-radius: 10px;
  color: var(--darkBrown);
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 10px var(--darkBrown);
}

.topicFilterContainer button:hover {
  background-color: var(--fawn);
  border: solid 5px var(--champBrown);
  border-radius: 10px;
  color: var(--darkBrown);
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 10px var(--darkBrown);
  cursor: pointer;
}

/* shutup button */

.shutup-button{
  color: white;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 10px var(--darkBrown);
  background-color: var(--darkRed);
  border: solid 5px var(--champBrown);
}

.shutup-button:hover {
  cursor: pointer;
  background-color: darkmagenta;
  font-weight: bold;
}

.shutup-button-disabled{
  color: var(--darkRed);
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 10px var(--darkBrown);
  background-color: var(--fawn);
  border: solid 5px var(--champBrown);
}